
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

:root{
    --colorDark1:#112D4E;
    --colorDark2:#3F72AF;
    --colorLight1:#DBE2EF;
    --colorLight2:#F9F7F7;
}

.wrapper{
    width: 100vw;
    height: 100vh;
    color: var(--colorLight2);
    background-image: linear-gradient(160deg,#112d4e,#3f72af 100%) ;

}
h1{
    text-align: center;
    text-transform: uppercase;
    padding-top: 20px;
}
.tab-container{
    max-width: 550px;
margin: 0 auto;
margin-top: 4rem;
    display: flex;
    justify-content: space-between;
cursor: pointer;

}

.tab{
    color: white;
    font-size:1rem;
     letter-spacing: 1.75px;
    font-weight: bold;
}
.tab.current-tab{
    background-color: cadetblue;
    border-radius: 4px;
    padding: 5px;
}

.form-container{
    display: none;
    
    max-width: 550px;
    margin: 0 auto;
 justify-content: center;
    align-items: center;
    text-align: center;
    gap: 0 10px; 
    margin-bottom: 3rem;

}
.form-container.active{
display: flex;
}

.form-container input{
    all: unset;
    width:calc(100%-80px);
    height: 40px;
    padding: 0 20px;
     border-radius: 10px;
background-color: rgb(137, 148, 148);
}

.form-container input:focus{ 
    outline: 3px solid white;
}

.form-container button{
   
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
}



.weather-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-block: 4rem;
}
.grant-access{
    all: unset;
   font-size: 0.85rem;  
   text-transform: uppercase;
   border-radius: 5px;
   background-color: var(--colorDark2);
   cursor: pointer;
   padding: 10px 30px;
   margin-bottom: 10px ;
}
.sub-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.grant-location-container{
 display: none;
}
.grant-location-container.active{
    display: flex;
}

.grant-location-container img{
 margin-bottom: 2rem;
}

.grant-location-container p:first-of-type{
font-size: 1.75rem;
font-weight: bold;

}
.grant-location-container p:last-of-type{
    font-size: 0.85rem;
    font-weight: 500;
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
}

.loading-container{
    display: none;
}
.loading-container.active{
    display: flex;

}
.loading-container p{
    text-transform: uppercase;
}
.gif{
    background-color:linear-gradient(160deg,#112d4e,#3f72af 100%) ;
}
.user-info-container{
    display: none;
}
.user-info-container.active{
    display: flex;
     

}
.user-info-container p{
    font-size: 1.5rem;
    font-weight: 200;
}
.user-info-container img{
    width: 90px;
    height: 90px;
}
.name{
    display: flex;
    align-items: center;
    gap: 0 0.5rem;
    margin-bottom: 1rem;
}
.name p{
    font-size: 2rem;
}
.name img{
    width: 30px;
    height: 30px;

}
.user-info-container p[data-temp]{
    font-size:2.75rem ;
    font-weight:700 ;
}

.parameter-container{
    display: flex;
    flex-direction: row;
    gap: 10px 20px;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;

}
.parameter{
width: 30%;
max-width: 200px;
background-color: rgb(127, 169, 224);
border-radius: 5px;
padding: 1rem;
display: flex;
flex-direction: column;
gap: 5px;
align-items: center;
}

.parameter img{
    width: 60px;
    height: 45px;
}
